body {
  margin: 0px;
  align-items: center;
}

.openingsec {
  background-color: #131112;
}

.heading {
  font-family: "Fjalla One", sans-serif;
  font-weight: 300;
  font-size: 60px;
  padding-top: 40px;
  padding-left: 40px;
  color: aliceblue;
  text-align: left;
}

.tagline {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 18px;
  color: #60656f;
  padding-top: 5px;
  padding-left: 40px;
  padding-bottom: 30px;
  text-align: left;
}

#content {
  text-align: left;
  margin-left: 40px;
}

.inputsec {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #60656f;
  padding-top: 30px;
  padding-bottom: 5px;
}

.inp1 {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 20px;
}

.ressec {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #60656f;
  margin-top: 70px;
}

.steps {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: black;
}

.emptyspace {
  margin-top: 50px;
  text-align: center;
  font-size: 15px;
  background-color: whitesmoke;
  margin-left: -40px;
}

.name {
  padding-top: 20px;
  font-family: "Roboto", sans-serif;
  color: #808080;
}

.cpcontent {
  font-family: "Roboto", sans-serif;
  color: #808080;
  padding-bottom: 20px;
}
